@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --tw-ring-color: theme('colors.brand.600');
    }

    html {
        font-family: theme('fontFamily.sans');
        -webkit-tap-highlight-color: transparent;
        scroll-behavior: smooth;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-feature-settings: 'ss01';
    }

    body {
        height: 100vh;
        height: -webkit-fill-available;
        height: 100dvh;
        color: theme('colors.gray.900');
        background-color: theme('colors.white');
    }

    [type='text'],
    [type='email'],
    [type='url'],
    [type='password'],
    [type='number'],
    [type='date'],
    [type='datetime-local'],
    [type='month'],
    [type='search'],
    [type='tel'],
    [type='time'],
    [type='week'],
    [multiple],
    textarea,
    select {
        width: 100%;
        border-radius: theme('borderRadius.md');
        border-color: theme('colors.slate.400');
        box-shadow: theme('boxShadow.sm');
        @apply focus:border-brand-600 focus:ring-brand-600/75;
    }

    [type='checkbox'],
    [type='radio'] {
        color: theme('colors.brand.600');
        border-color: theme('colors.gray.500');
        border-radius: theme('borderRadius.DEFAULT');
        @apply focus:ring-brand-600;
    }

    button, a[type='button'] {
        @apply focus:outline-none;
        @apply focus-visible:ring focus-visible:ring-offset-2 focus-visible:ring-brand-600/75;
    }
}
